apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: my-ui-dev

resources:
  - ../../base

commonLabels:
  env: dev

images:
  - name: ghcr.io/benjakunee17/my-ui
    newName: ghcr.io/benjakunee17/my-ui
    newTag: 7ddd195