namespace: my-ui-dev

resources:
  - ../../base

images:
  - name: ghcr.io/yourorg/my-ui
    newTag: dev-initial

patches:
  - target:
      kind: Ingress
      name: my-ui
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: my-ui-dev.local

  - target:
      kind: Rollout
      name: my-ui
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2